col {
  background-color: aqua;
}
.html {
  font-size: 50px;
}

.css {
  font-size: 50px;
}

.js {
  font-size: 50px;
}
.react {
  font-size: 50px;
}

.github {
  font-size: 50px;
}

.bootstrap {
  font-size: 50px;
}
